# OANDA Configuration
OANDA_BASE_URL=https://api-fxpractice.oanda.com
OANDA_ACCOUNT_ID=101-011-39004310-001
OANDA_TOKEN=your_practice_api_token_here

# Telegram Configuration
TELEGRAM_BOT_TOKEN=8680466883:AAEGonHeFcD-yaw0QMjh4XalTXXa4ULqdAk
TELEGRAM_CHAT_ID=8075862544
